{% extends 'main/base.html.twig' %}
{% block body %}

	<div class="form-login-register form-comment-edit">
		<h3 class="mb-3 text-center">
			Редактировать комментарий
		</h3>
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				{{ message }}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
			{{ form_start(form) }}
			{{ form_row(form.user_name, {
					label: 'Имя пользователя:'
				}) }}
			{{ form_row(form.content, {
					label: 'Текст:'
				}) }}
			<input type="hidden" name="url" value="{{ encodeUrl }}">
			{{ form_end(form) }} 
	</div> 
{% endblock %}
