{% extends 'main/base.html.twig' %}
{% block title %}Озёра Камчатки{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
		</div>
	</div>
	{# <ul class="list-group"> #}
	<div class="container-fluid">
		<div class="row no-gutters mt-5">
			{% for lake in lakes %}
				{# <li class="list-group-item"> #}
				<div class="col place-card-wrapper">
					<div class="card border-dark mb-3">
						<a href="{{ path('lakes_id', {'id': lake.getId }) }}" class="link place_link">
							<img src="{{ asset('assets/main/images/Lakes/')}}{{ lake.getMainPhoto }}" class="card-img-top" alt="lake">
							<div class="card-body text-dark">
								<h4 class="card-title">{{ lake.title}}</h4>
							</div>
						</a>
					</div>
				</div>
				{# </li> #}
			{% endfor %}
		</div>
		{# </ul> #}
	</div>
{% endblock %}
