{% extends 'main/base.html.twig' %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6 mb-3">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
		</div>
	</div>
	{% if images | length > 0 %}
		<div class="row no-gutters justify-content-center mb-5">
			<div class="col-12 col-lg-8 col-md-12">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="{{ asset('assets/main/images/ValleyOfGeysers/'~ place.getId ~ '') }}/{{ images[0].getSrc }}" target="_blank"><img src="{{ asset('assets/main/images/ValleyOfGeysers/'~ place.getId ~ '') }}/{{ images[0].getSrc }}" class="d-block" alt="valleyOfGeysers"></a>
						</div>
						{% for img in images %}
							{% if img.getSrc not in images[0].getSrc %}
								<div class="carousel-item">
									<a href="{{ asset('assets/main/images/ValleyOfGeysers/'~ place.getId ~ '') }}/{{ img.getSrc }}" target="_blank"><img src="{{ asset('assets/main/images/ValleyOfGeysers/'~ place.getId ~ '') }}/{{ img.getSrc }}" class="d-block" alt="valleyOfGeysers"></a>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>
	{% endif %}
	<div class="row no-gutters justify-content-center mb-5 description-wrap">
		<div class="content-text">
		<h2 class="description-title mb-3">Краткое описание</h2>
			{{ place.description }}
		</div>
		<div class="content-text mt-5">
			<h2 class="description-title mb-3">Туризм</h2>
			Как в советское время, так и после 1991 года Долина гейзеров была одним из самых посещаемых туристами мест Камчатки. Также Долина гейзеров является частью объекта Всемирного наследия ЮНЕСКО «Вулканы Камчатки».
			С 1967 года в Долине гейзеров запрещён «дикий» туризм, а с 1977 года — туризм вообще.
			В 1993 году после создания необходимой инфраструктуры долину снова открыли для посещения туристов. В год в долину приезжало более трёх тысяч человек.
			Самостоятельный доступ туристов в Долину гейзеров строго ограничен.
			Стенка «Витраж» в Долине гейзеров на почтовой марке России 2002 года (ЦФА [АО «Марка»] № 758)
			В 2007 году глава Федерального агентства по туризму Владимир Стржалковский просил президента России Владимира Путина об увеличении квоты на посещение объекта туристами, на что получил ответ: «Это решение должно быть основано исключительно на мнении экспертов», который пресса трактовала как отказ.
		</div>
	</div>

	{% if place.getContentSource is not null %}
		<div class="row justify-content-center title-page content-source">
			Источник контента: {{ place.getContentSource }}
		</div>
	{% endif %}

	{% if place.getHowToGet is not null %}
		<div class="row no-gutters justify-content-center mb-5 description-wrap">
			<div class="col content-text">
				<h2 class="description-title mb-3"> 
					Как добраться? 
				</h2>
				{{ place.getHowToGet }}
			</div>
		</div>
	{% endif %}
	
	{% if place.getLatitude and place.getLongitude is not null %}
		<div class="row no-gutters justify-content-center mb-5">
			<div class="col-12 col-lg-8 col-md-12">
				<div id="map"></div>
			</div>
		</div>
	{% endif %}

	<section class="comment-block">
	<div class="comment-wrapper">
		<div class="commentaries">
		<h3 class="title-comment-section">
			Отзывы посетителей
		</h3>
			{% if comments is empty %}
				<div class="comment-item mb-3">
					Да, отзывов пока нет.
				</div>
			{% endif %}
			{% for comment in comments %}
				<div class="comment-item mb-3">
					<div class="comment-user-name mb-2">
						{{ comment.getUserName }}
						{{ comment.getCreateAt | date('d.m.y H:i')}}
					</div>
					<div class="comment-content">{{ comment.content }}
					</div>
				</div>
			{% endfor %}
			<div class="comment-pagination mb-3">
				{% if previous >= 0 %}
					<a href="{{ path('valley_of_geysers', { id: place.id, offset: previous }) }}" class="pagination-left-arrow">

						<i class="fas fa-chevron-left"></i>
					</a>
				{% endif %}
				{% if next < comments|length %}
					<a href="{{ path('valley_of_geysers', { id: place.id, offset: next }) }}">
						<i class="fas fa-chevron-right"></i>
					</a>
				{% endif %}
			</div>
		</div>

		<div class="comment-form">
		<h3 class="title-comment-section">
			Оставить комментарий
		</h3>
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}
			{{ form_start(form) }}
			{{ form_row(form.user_name) }}
			{{ form_row(form.content) }}
			{{ form_end(form) }}
		</div>
	</div>
	</section>


	{% block javascript %}
		<script type="text/javascript">
			ymaps.ready(init);
function init() {
var myMap = new ymaps.Map("map", {
center: [
{{ place.getLatitude }}, {{ place.getLongitude }}
],
zoom: 9
});

var myGeoObject = new ymaps.GeoObject({
geometry: {
type: "Point",
coordinates: [{{ place.getLatitude }}, {{ place.getLongitude }}]
},
properties: {
hintContent: [
'Широта: ' + {{ place.getLatitude }},
' долгота: ' + {{ place.getLongitude }}
]
}
});

myMap.geoObjects.add(myGeoObject);

}
		</script>

	{% endblock %}
	<script src="{{ asset('assets/main/js/saveScrollScript.js')}}"></script>
{% endblock %}
