{% extends 'main/base.html.twig' %}

{% block title %}Места для отдыха на Камчатке{% endblock %}
{% block body %}
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6">
				<h1 class="text-center title-page">
					{{ title }}
				</h1>
			</div>
		</div>
	</div>
	{# <div class="container-fluid">
		<div class="row no-gutters justify-content-center mt-5">
			<div class="col-12 col-lg-6 col-md-6 content-text">
				<h2>Горячие источники Камчатки&nbsp;&mdash; это прекрасные места для отдыха. Только представьте: горячая ванна
				прямо из&nbsp;недр земли.
				</h2>
			</div>
		</div>
	</div> #}
	{# <ul class="list-group"> #}
	<div class="container-fluid">
		<div class="place-cards-wrapper no-gutters mt-5">
			{% for another_place in another_places %}
				{# <li class="list-group-item"> #}
				<div class="place-card-wrapper border-dark mb-3">
					<a href="{{ path('another_places_id', {'id': another_place.getId }) }}" class="link place_link">
							<div class="img-wrap">
								<img src="{{ asset('assets/main/images/AnotherPlaces/')}}{{ another_place.getMainPhoto }}" class="card-img-top" alt="another_place">
							</div>
							<div class="card-body text-dark">
								<h4 class="card-title">{{ another_place.title}}</h4>
							</div>
					</a>
				</div>
						{# </li> #}
					{% endfor %}
					{# </ul> #}
		</div>
	</div>
{% endblock %}
