<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/library/fontawesome-5.15.4/css/all.min.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/library/bootstrap-5.1.3/css/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{ asset('assets/main/css/style.css')}}">
		{% endblock %}

		{% block javascripts %}
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"> </script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="{{ asset('assets/library/bootstrap-5.1.3/js/bootstrap.min.js')}}"></script>
			<script src="https://api-maps.yandex.ru/2.1/?apikey=88974ba4-00aa-48cd-bf0f-e1694884b754&lang=ru_RU" type="text/javascript"></script>
		{% endblock %}
	</head>

	<body>
		<ul class="body_slides">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	<div class="wrapper">
		<header class="header bg-dark">	
		<nav class="navbar navbar-expand-xl navbar-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home')}}">
					
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('home')}}">Kamplaces</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('volcanoes')}}">Вулканы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('hot_springs')}}">Горячие источники</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('waterfalls')}}">Водопады</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('lakes')}}">Озёра</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('valley_of_geysers')}}">Долина гейзеров</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('another_places')}}">Другие места</a>
						</li>

						{# ВЫПАДАЮЩЕЕ МЕНЮ ЕСЛИ НУЖНО ! #}
						{# <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Dropdown
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
						<a class="dropdown-item" href="#">Action</a>
						</li>
						<li>
						<a class="dropdown-item" href="#">Another action</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
						<a class="dropdown-item" href="#">Something else here</a>
						</li>
						</ul>
						</li> #}
					</ul>

					<div class="navbar-form-wrapper d-flex">
						<form class="d-flex search_form" action="{{ path('search') }}" method='GET'>
							<input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search" name="q">
							<button class="btn btn-outline-light btn-search" type="submit">Поиск</button>
						</form>

						<form class="d-flex">
							{% if is_granted('IS_AUTHENTICATED_FULLY')%}
								{% if is_granted('ROLE_ADMIN') %}
									<a href="{{ path('admin_home') }}" class="btn btn-outline-light" type="submit">Вход в админку</a>
								{% endif %}
								<a href="{{ path('app_logout') }}" class="btn btn-outline-light" type="submit">Выход</a>
							{% else %}
								<a href="{{ path('app_login') }}" class="btn btn-outline-light nav_btn_entry" type="submit">Войти</a>
								<a href="{{ path('app_register') }}" class="btn btn-outline-light" type="submit">Регистрация</a>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
		</nav>
		</header>

		<main class="main">
			<div class="main-container">
				{% block body %}{% endblock %}
			</div>
		</main>

		<footer>
			<div class="footer-container">
				<div class="footer-links mb-2"> 
					<a href="{{ path('user_agreement') }}" target="_blank">Пользовательское соглашение</a>
				</div>
				<div> &copy; Kamplaces </div>
			</div>
		</footer>
		
	</div>
	</body>
</html>
