{% extends 'main/base.html.twig' %}
{% block title %} Регистрация | Kamplaces - Природные места Камчатки для отдыха {% endblock %}

{% block head %} 
<meta name="description" content="Зарегистрироваться на сайте Kamplaces."/>
{% endblock %}

{% block body %}
	{# <div>{{ message }}</div> #}
	<div class="container-form">
		<div class="form-login-register shadow-lg">
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}
			<h3 class="mb-3 font-weight-normal title-form-login-register">Регистрация</h3>

			{{ form_start(registrationForm) }}
			{{ form_row(registrationForm.email, {
					label: 'Email:'
				}) }}
			{{ form_row(registrationForm.plainPassword.first, {
            		label: 'Пароль:'
        		}) }}
			{{ form_row(registrationForm.plainPassword.second, {
            		label: 'Повтор пароля:'
        		}) }}
			<div style="display: flex;"> 
				{{ form_row(registrationForm.agreeTerms) }}
				<a href="{{ path('user_agreement') }}" target="_blank" class="link-name">Соглашение с правилами сайта</a>
			</div>
			<button type="submit" class="btn btn-success btn-login-register">Продолжить</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}
